.App {
  text-align: center;
  background-color: #EFEFEF;
max-width: 100vw;
  max-height: 100%;
}

main{
  display: flex;
  align-items: center;
  margin-top: -20px;
  height: 100%


}
.coffee-seed{
  width: 20%;
}
.coffee-main{
  width: 50%;
}

.coffee-main img{
  width: 500px;
  height: 300px;
 
}

.coffee-main h2{
  color: rgb(112, 29, 29);
  font-size: 5rem;
}
.coffee-main p{
  color: rgb(112, 29, 29);
  font-size: 15px;
  margin-bottom: 20px;
}

.coffee-play{
  width: 25%;
}
.coffee-play p{
  color: rgb(112, 29, 29);
  font-size: 1.3rem;
  margin-bottom: 20px;

}
.coffee-seed img{
  width: 400px;
  transform: rotate(45deg);
  position: absolute;
  top: 150px;
  left: -100px;
  opacity: 1;
  animation: fade-in 2s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#shop-now{
  background-color: rgb(98, 58, 12);
  border-radius: 30px;
 font-size: 1.5rem;
 color: #EFEFEF;
 margin: 10px;
 padding: 5px 10px;
}